<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I started coding back in May and have really taken a liking to it! Hopefully these blogs can help someone get through some of things I found more difficult.</p>
  </div>
  <div class="sidebar-module">
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/IanEarley"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/BrotherTortoise"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.instagram.com/iearley/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/ian.earley.3"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>