<h1 class="pages-header">About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "Myself.jpg", width: "95%", alt: "Profile Image" %>

  </div>

  <div class="col-md-8">
    <p class="pages-text">I am a newer coder and I have really come to love it. I enjoy working in ruby and javascript and am really getting into how jquery works on a page. <br>As far as me personally, I really enjoy music and gaming, if I'm not coding I'm either playing with my band or delving the dungeons of Skyrim. I also enjoy tabletop games like Dungeons and Dragons, so I am the definition of nerd!  <br>That's enough about me though, hope you enjoy the page!</p>
  </div>
</div>