<div class="inner cover">
  <h1 class="cover-heading pages-header">Welcome!</h1>
  <p class="lead pages-text">This is my site to showcase all the projects I have worked on since I began. There is information about myself as well as a few blogs and some portfolio items to show what I have worked on both in my time at Bottega and on my own time. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-info" %>
  </p>
</div>